body {
  background-color: #f5f5f5!important;
}

.container {
  padding: 15px;
}

.flex-vertical {
  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.right-align {
  text-align: right;
}

.error {
  color: #ff5722;
}


/*Footer*/

.footer {
  padding: 50px;
  background-color: #424242;
  z-index: 100;
}


/*Vue material customize*/
/*Seelct list*/
.md-menu-content.md-direction-bottom-right.md-active{
  width:100%;
}
.md-toolbar {
  /*background-image: url('../../assets/backgrounds/23.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;*/
}

.md-card-header.indigo {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, .87);
  margin-bottom: 40px;
}


/*Route change animations*/

.slide-fade-enter-active {
  transition: all .25s ease-out;
}

.slide-fade-leave-active {
  transition: all .1s ease;
}

.slide-fade-enter {
  transform: translateY(-100px);
  opacity: 0;
}

.slide-fade-leave-active {
  transform: translateY(20px);
  opacity: 0;
}
