body {
  padding-bottom: 100px;
  overflow-x: hidden;
}


/*Route change animations*/

.slide-fade-enter-active {
  transition: all .5s ease;
}

.slide-fade-leave-active {
  transition: all .2s ease;
}

.slide-fade-enter {
  transform: translateX(-100px);
  opacity: 0;
}

.slide-fade-leave-active {
  transform: translateX(100px);
  opacity: 0;
}


/*Footer*/

.footer {
  padding: 25px;
  background-color: red;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}


/*Remove border-radius*/

a,
pre,
input,
code,
.btn,
.label,
.panel,
.signoff,
.jumbotron,
.badge,
.navbar {
  border-radius: 0!important;
}

.validation-ul{
  list-style: none;
  padding-left: 0;
}
