body.md-theme-default {
  background-color: #efefef;
}

.container {
  padding: 15px;
}

.simple-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.min-height {
  min-height: 280px;
}

@media screen and (min-width: 480px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .min-height {
    min-height: 360px;
  }
}

.bg-white {
  background-color: #fff;
}

.flex-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.padded {
  padding: 20px;
}

.dim-text {
  opacity: 0.5;
}

.no-border {
  border: none!important;
}

.md-list.expanded .md-list-item-container {
  padding: 0!important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.right-align {
  text-align: right;
}

.pull-right {
  float: right;
}

.text-muted {
  opacity: 0.6;
}


/*Footer*/

.footer {
  padding: 50px;
  background-color: #424242;
  z-index: 100;
}


/*Vue material customize*/


/*Seelct list*/

.md-menu-content.md-direction-bottom-right.md-active {
  width: 100%;
}

.md-card-header.indigo {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, .87);
  margin-bottom: 40px;
}


/*vue-datepicker*/

.cov-vue-date {
  width: 100%;
}

.custom-label {
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
  line-height: 20px;
}


/*Custom Card*/

.card-cont {
  width: 100%;
}

.md-card-custom {
  margin: 5px;
  overflow-x: hidden;
}

.min-width {
  min-width: 100%;
}

@media screen and (min-width: 760px) {
  .min-width {
    min-width: 20%;
  }
}

.chip-custom {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 5px;
  margin-right: 2px;
}

.theme-danger .md-icon {
  color: #f44336;
}

.theme-warn .md-icon {
  color: #ff5722;
}

.theme-normal .md-icon {
  color: #ff9800;
}

.theme-primary .md-icon {
  color: #cddc39;
}

.theme-success .md-icon {
  color: #4caf50;
}